name: Rust

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: cargo build
      uses: actions-rs/cargo@v1
      with:
        command: build
    - name: cargo test
      uses: actions-rs/cargo@v1
      with:
        command: test
